@import-normalize; /* bring in normalize.css styles */

html {
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  -moz-tab-size: 4;
  tab-size: 4;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;

  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
button,
ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
 
};